@import "bootstrap-sprockets";
@import "bootstrap";
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  // position: absolute;
  // width: 100%;
  // overflow: hidden;
  // background-image: url("/assets/west-coast-trail.jpg");
  padding: 10px;
  font-family: "Sorts+Mill+Goudy", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  // top: 0px;
  // left: 0px;
  background-position: center center;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size:100% 100%;
}
//
// .search-map-canvas {
//   margin-bottom: 0px;
//   width: 100%;
//   height: 100%;
// }
//

.trek-box {
  max-width: 300px;
  padding: 0px;
  cursor: pointer;
}


// scroll within container
.search-btn {
  display: inline-block;
  box-shadow: 0 20px 40px 0 #FF644E inset;
  background: #F64C44;
  border: none;
}

.search-form {
  position: relative;
  margin-top: 10px;
}

.tag-container {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.carousel{width:720px;
       height:480px;}

.carousel img {
  width: auto;
  height: 300px;
}

#slider-landing {
  top: 700px;
}

#nav {
  margin-bottom: 10px;
  background-color: #D3E3E8;
  border-bottom: 1px solid black;
}

.search-result {
    top: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
}

#sidx {
  top: 70px;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#search-map-canvas {
  //  position: fixed;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.search-map {
  padding: 0;
  position: fixed;
  right: 0px;
  left: auto;
  bottom: 0px;
  top: 50px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    overflow: hidden;
}

.carousel-control {
  text-shadow: none;
}

.profile {
  font-size: 14
}

.navbar-header {
  margin-top: 10px;
}

.navbar-collapse  {
  margin-top: 10px;
}

.navbar-toggle collapsed {
  background-color: #D3E3E8;
  border-bottom: '1px solid black';
}

.navbar-brand {
  color: #333;
}

.navbar-form {
  margin: 0px;
  padding: 0px;
}


.container-custom {
  //  margin-top: 60px;
  position: absolute;
  width: 100%;
  margin-top: 15%;
  color: #fff;
 }

// .landing-welcome {
//     display: block;
//     position: absolute;
//     top: 60%;
//     left: 50%;
//     width: auto;
//     height: 50em;
//     margin-top: -9em; /*set to a negative number 1/2 of your height*/
//     margin-left: -15em; /*set to a negative number 1/2 of your width*/
//     color: white;
// }

.logo {
    display: block;
    font-family: 'Bitter';
    src: url(https://fonts.googleapis.com/css?family=Bitter);
    font-size: 43px;
    font-weight: 700;
}

.tagline {
    font-size: 18px;
    font-weight: 400;
}

.navbar-brand{
    font-size: 20px;
}

.search-page-image {
  display: block;
  margin: auto;
  max-width:300px;
  max-height:200px;
  width: auto;
  height: 200px;
  overflow: hidden;
}

.right-side-container{
  top: 50px;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.trek-item {
  margin: auto;
  float: left;
}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.tag-item-name {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 13px;
  color: #333;
  font-weight: normal;
  background-color: #f0f0f0;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  line-height: 24px;
}
