@import "bootstrap-sprockets";
@import "bootstrap";
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  // position: absolute;
  // width: 100%;
  // overflow: hidden;
  // background-image: url("/assets/west-coast-trail.jpg");
  font-family: "Sorts+Mill+Goudy", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  // top: 0px;
  // left: 0px;
  background-position: center center;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#enter {
  float: left;
}

#guest-login{
  float: right;
}

.auth-form{
  width: 316px;
  height: 290px;
  position: absolute;
  top: 35%;
  left: 52%;
  margin: -70px 0 0 -170px;
  background-color: rgba(255,255,255,0.7);
  padding: 5px 10px 5px 10px;
  color: black;
  box-shadow: 0 1px 3px #626262;
}

.log-form {
  height: 100%;
  width: 100%;
  background-image: url("http://res.cloudinary.com/ssaekoo/image/upload/auth.jpg");
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth{
  top: 50%;
}

ul {
  margin-bottom: 2px;
}

.trek-box {
  max-width: 300px;
  cursor: pointer;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  padding: 0px;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 0px 5px;
  margin: 16px;
}


// scroll within container
.search-btn {
  display: inline-block;
  box-shadow: 0 20px 40px 0 #FF644E inset;
  background: #F64C44;
  border: none;
}

.search-form {
  position: relative;
  padding-top: 10px;
  background-color: #F5F5F5;
}

.search-input{
  border-radius: 5px;
  width: 400px;
}

.tag-container {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.tags {
  margin-right: 1px;
}

.carousel{
 width:720px;
 height:480px;
 border-radius: 10px;
 background-size: cover;
}

.carousel img {
  width: auto;
  height: 300px;
  background-size: cover;
}

#slider-landing {
  top: 700px;
}

#nav {
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid black;
}

.search-result {
    top: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
}
.trek-detail {
  float: left;
}

.trek-detail-attributes {
  float: left;
  margin-left: 50px;
  margin-right: 20px;
  width: 450px;
  background-color: #F2F2F2;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
}

.trek-detail-pane {
  margin-top: 10px;
}

.trek-info {
  padding-left: 20px;
  padding-right: 20px;
}

.detail-attribute {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Oxygen', sans-serif;
  position: relative;
  text-align: left;
}

.detail-value {
  position: relative;
  float: right;
}

li {
    list-style: none;
    margin: 0;
}

.trek-detail-carousel {
  width: 720px;
  float: left;
  margin-left: 15px;
  background-size: cover;
  left: 25px;
  position: relative;
}

#sidx {
  top: 70px;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#search-map-canvas {
  //  position: fixed;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.search-map {
  padding: 0;
  position: fixed;
  right: 0px;
  left: auto;
  bottom: 0px;
  top: 50px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
}

.carousel-control {
  text-shadow: none;
}

#carousel-controller {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.profile {
  font-size: 14;
}

.navbar-header {
  margin-top: 10px;
}

#signed-in{
  vertical-align: top;
}

.navbar-collapse  {
  margin-top: 10px;
}

.navbar-toggle collapsed {
  background-color: #CBDFAD;
  border-bottom: 1px solid black;
}

.navbar-brand {
  color: #333;
  font-size: 20px;
  padding-top: 12px;
  color: grey;
  font-family: 'SouthernAire';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
}

.profile {
  font-family: 'Sorts+Mill+Goudy';
  color: grey;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  padding-top: 9px;
}

.navbar-form {
  margin: 0px;
  padding: 0px;
}

.btn-login {
  background-color: grey;
  border-color: grey;
  color: white;
}

.btn-default {
  border-color: #aaa;
}

.container-custom {
  //  margin-top: 60px;
  position: absolute;
  width: 100%;
  margin-top: 19%;
  color: #fff;
 }

.below-nav {
  top: 70px;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@font-face {
  font-family: 'Cinzel';
  src: url("Cinzel-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Cinzel';
  font-weight: bold;
  src: url("Cinzel-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Streetwear';
  src: url("Streetwear.otf") format("opentype");
}

@font-face {
  font-family: 'Magnolia';
  src: url("Magnolia Light.ttf") format("opentype");
}

@font-face {
  font-family: 'SouthernAire';
  src: url("SouthernAire.ttf") format("opentype");
}

.logo {
    display: block;
    font-family: 'Cinzel';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    font-weight: 700;
}

.tagline {
    font-size: 18px;
    font-weight: 400;
}

.search-page-image {
  display: block;
  margin: auto;
  max-width:300px;
  max-height:200px;
  width: auto;
  height: 200px;
  overflow: hidden;
}

.right-side-container{
  top: 50px;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.trek-item {
  margin: auto;
  float: left;
}

#trekDescription {
  width: 500px;
  height: 200px;
}

.description-container {
  padding-bottom: 50px;
}

.fill{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.tag-item-name {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 13px;
  color: #333;
  font-weight: normal;
  background-color: #f0f0f0;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  line-height: 24px;
}

.review-container {
  position: absolute;
  top: 500px;
}

.create-review-btn{
  margin-top: 10px;
  padding-left: 40px;
}

#trek-star-average{
  display: inline-block;
}

.rating i {
  margin: 3px;
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #b0b0b0;
  border-radius: 3px;
  color: #fff;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

[data-review^='1'] .star-1 {
  border-color: #fdff00;
  background: #fdff00;
}

[data-review^='1.5'] .star-2 {
  border-left-color: #fdff00;
}

[data-review^='2'] .star-1 {
  border-color: #ffe700;
  background: #ffe700;
}

[data-review^='2'] .star-2 {
  border-color: #ffe700;
  background: #ffe700;
}

[data-review^='2.5'] .star-3 {
  border-left-color: #ffe700;
}

[data-review^='3'] .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-review^='3'] .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-review^='3'] .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-review^='3.5'] .star-4 {
  border-left-color: #f26a2c;
}

[data-review^='4'] .star-1 {
  border-color: #ff4d00;
  background: #ff4d00;
}

[data-review^='4'] .star-2 {
  border-color: #ff4d00;
  background: #ff4d00;
}

[data-review^='4'] .star-3 {
  border-color: #ff4d00;
  background: #ff4d00;
}

[data-review^='4'] .star-4 {
  border-color: #ff4d00;
  background: #ff4d00;
}

[data-review^='4.5'] .star-5 {
  border-left-color: #ff4d00;
}

[data-review^="5"] i {
  background: #f92600;
  border-color: #f92600;
}

.review {
  position: relative;
  background-color: #F2F2F2;
  padding-left: 0px;
  left: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
}

.review-title, .rating {
  padding: 0px 40px 5px 40px;
}

.review-title {
  padding-top: 15px;
}

.review-body {
  margin: 0px 40px 5px 40px;
  border-top: 1px solid #CCCCCC;
  padding-top: 15px;
  padding-bottom: 15px;
}

.review-creation{
  margin-bottom: 10px;
}

.trek-star-average .rating {
  padding: 0px 0px 5px 0px;
}

.btn[disabled]{
  opacity: 0.3;
}
